# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Subversion'
      'command': 'subversion:toggle'
      'submenu': [
        {
          'label': 'Commit'
          'command': 'subversion:commit'
        },
        {
          'label': 'Revert'
          'command': 'subversion:merge'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Subversion'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'subversion:toggle'
        }
      ]
    ]
  }
]
